doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="../style/board.css")
  body
    h1 LEADERBOARD!
    h3 Co-Op:
    ol(id="ol")
        each val, index in leaderboard
            li= index + ': ' + val